.Thanh_cong_cụ2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c0127;
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  gap: 100px;
}
.Thanh_cong_cụ2 input {
  padding: 5px;
}
.Thanh_cong_cụ2 button {
  margin-left: 5px;
  cursor: pointer;
}
.left2 {
  font-size: 30px;
}
.trung_tâm2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.Duoi_Thanh_Cong_Cụ2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #f6f5f8;
  background: #0c0127;
  gap: 100px;
  height: 30px;
}
.Hoc_tap-box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.Hoc_tap-box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}

.Daily_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Daily_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}

.Work_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Work_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
.Home2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Home2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
a {
  color: white;
}
a {
  text-decoration: none;
}

.left2 {
  text-shadow: 0 0 18px #a289ef, 0 0 20px #8486cf, 0 0 40px #00eaff,
    0 0 80px #9490d4;
}
.sheet {
  max-width: 400px;
  margin-top: 10px;
  background: rgb(211, 208, 250);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  flex: 1;
}

h2 {
  text-align: center;
  color: #6130b0;
}

.add-task {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

.add-task input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add-task button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #250b62;
  color: rgb(253, 249, 249);
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 0;
}

li input[type="text"] {
  flex: 1;
  border: none;
  border-bottom: 1px dashed #ccc;
}

li button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}
.Daily_List {
  background: rgb(213, 201, 247);
  width: 500px;
  height: 400px;
  flex: 2;
}
h3 {
  text-align: center;
  color: #6130b0;
  font-size: 30px;
}
.Content_1 {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
}
.Bên_trái {
  width: 400px;
}

#dailyPercent {
  margin-top: 6px;
  text-align: right;
  font-weight: bold;
}
.progress-box2 {
  margin-top: 40px;
  background: #cdc2f1;
  padding: 15px;
  border-radius: 16px;
  height: 60px;
}

.progress-title {
  font-weight: bold;
  margin-bottom: 10px;
  color: #001b44;
}

.progress-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.progress-bar2 {
  flex: 1;
  height: 14px;
  background: #2d0467;
  border-radius: 10px;
  overflow: hidden;
}

.progress2 {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #0b0f5b, #05023a);
  border-radius: 10px;
  transition: 0.4s;
}
