body {
  background: #fcfcfb;
}
h1 {
  color: #18230f;
  text-align: center;
  font-size: 40px;
}
.Thanh_cong_cụ2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c0127;
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  gap: 100px;
}
.Thanh_cong_cụ2 input {
  padding: 5px;
}
.Thanh_cong_cụ2 button {
  margin-left: 5px;
  cursor: pointer;
}
.left2 {
  font-size: 30px;
}
.trung_tâm2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.Duoi_Thanh_Cong_Cụ2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #f6f5f8;
  background: #0c0127;
  gap: 100px;
  height: 30px;
}
.Hoc_tap-box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.Hoc_tap-box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}

.Daily_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Daily_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}

.Goal_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Goal_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
.Work_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Work_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
.Home2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Home2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
a {
  color: white;
}
a {
  text-decoration: none;
}

.right2 {
  gap: 40px;
}
.left2 {
  text-shadow: 0 0 18px #a289ef, 0 0 20px #8486cf, 0 0 40px #00eaff,
    0 0 80px #9490d4;
}

.Take_Note {
  justify-content: flex-start;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #bfd6f4;
  padding: 15px;
  box-shadow: 0 0 15px black;
  margin-top: 30px;
  text-align: center;
  color: #080123;
  flex: 0.5;
}
.Take_Note button {
  width: 120px;
}
.Take_Note textarea {
  height: 100px;
}
.Note_List {
  margin-top: 10px;
  width: 400px;
  overflow-y: auto;
  max-height: 300px;
  padding-right: 4px;
  background: #bfd6f4;
  color: rgb(5, 1, 23);
  text-align: center;
  height: 300px;
}
.Note-items {
  background: #3a3a3a;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}
.Note-date {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 4px;
}

.Content_Giua {
  display: flex;
  gap: 25px;
  padding: 20px;
  align-items: flex-start;
}
.Tổng_Task {
  flex: 1;
  background: #b2c2f0;
  color: rgb(3, 0, 11);
  padding: 20px;
  border-radius: 12px;
}
.Tổng_Task h3 {
  margin-bottom: 15px;
}

.task-item {
  margin: 10px 0;
  font-size: 16px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #374151;
  border-radius: 5px;
  margin-top: 15px;
}

.progress {
  height: 100%;
  width: 0%;
  background: #22c55e;
  border-radius: 5px;
  transition: 0.3s;
}
