body {
  background: #fcfcfb;
}
h1 {
  color: #18230f;
  text-align: center;
  font-size: 40px;
}
.Thanh_cong_cụ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c0127;
  padding: 10px;
  color: white;
  font-size: 20px;
  gap: 100px;
}
.Thanh_cong_cụ input {
  padding: 5px;
}
.Thanh_cong_cụ button {
  margin-left: 5px;
  cursor: pointer;
}
.left {
  font-size: 30px;
}
.trung_tâm {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.Duoi_Thanh_Cong_Cụ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  color: #f6f5f8;
  background: #c2d4f4;
  gap: 150px;
}
.Hoc_tap-box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
.Daily_box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
.Goal_box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
.Work_box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
a {
  text-decoration: none;
}
.To_Nho {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 10px;
  border-radius: 15px;
}
.right {
  gap: 40px;
}
.Take_Note {
  justify-content: flex-start;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #414e5f;
  padding: 15px;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  color: #efeef3;
}
.Take_Note button {
  width: 120px;
}
.Take_Note textarea {
  height: 100px;
}
.Note_List {
  margin-top: 10px;
  width: 350px;
  overflow-y: auto;
  max-height: 300px;
  padding-right: 4px;
  background: #414e5f;
  color: white;
  text-align: center;
  height: 350px;
  border-radius: 15px;
}
.Note-items {
  background: #3a3a3a;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 14px;
}
.Note-date {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 4px;
}
