body {
  background: #fffbeb;
}
h1 {
  color: #18230f;
  text-align: center;
  font-size: 40px;
}
.Thanh_cong_cụ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c0127;
  padding: 10px;
  color: white;
  font-size: 20px;
}
.Thanh_cong_cụ input {
  padding: 5px;
}
.Thanh_cong_cụ button {
  margin-left: 5px;
  cursor: pointer;
}
.left {
  font-size: 30px;
}
.trung_tâm {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Duoi_Thanh_Cong_Cụ {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  color: #f6f5f8;
  background: #c2d4f4;
  gap: 300px;
}
.Hoc_tap-box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
.Daily_box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
.Goal_box {
  background: #0c0127;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
}
a {
  text-decoration: none;
}
