.Thanh_cong_cụ2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0c0127;
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  gap: 100px;
}
.Thanh_cong_cụ2 input {
  padding: 5px;
}
.Thanh_cong_cụ2 button {
  margin-left: 5px;
  cursor: pointer;
}
.left2 {
  font-size: 30px;
}
.trung_tâm2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}
.Duoi_Thanh_Cong_Cụ2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: #05010e;
  background: #f3f1f6;
  gap: 100px;
  height: 30px;
}
.Hoc_tap-box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.Hoc_tap-box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}

.Daily_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Daily_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}

.Work_box2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Work_box2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
.Home2 {
  background: #12013b;
  color: white;
  margin: 20px 20px;
  padding: 10px 20px;
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
.Home2:hover {
  background: #1d0b6e;
  transform: scale(1.12) translateY(-10px);
  box-shadow: 0 0 15px rgba(109, 93, 252, 0.8), 0 0 30px rgba(109, 93, 252, 0.6),
    0 20px 40px rgba(0, 0, 0, 0.5);
}
a {
  color: white;
}
a {
  text-decoration: none;
}
.left2 {
  text-shadow: 0 0 18px #a289ef, 0 0 20px #8486cf, 0 0 40px #00eaff,
    0 0 80px #9490d4;
}
.sheet {
  max-width: 400px;
  margin-top: 10px;
  background: #a6a9d2;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  flex: 1;
}
h2 {
  text-align: center;
  color: #6130b0;
}
.add-task {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}
.add-task input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.add-task button {
  padding: 8px 12px;
  border: none;
  border-radius: 8px;
  background: #250b62;
  color: rgb(253, 249, 249);
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
#workList {
  list-style: none;
  padding: 10px;
}
#workList li {
  background: white;
  border: 2px solid #b8b2ff;
  border-radius: 18px;
  padding: 16px 20px;
  margin-bottom: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#workList li input {
  width: 20px;
  height: 20px;
  accent-color: #c03ad1;
}
#workList li span {
  flex: 1;
  text-align: center;
  font-size: 18px;
  color: #2d1765;
}
.delete-daily {
  background: #f3f3f3;
  border: 1px solid #aaa;
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 18px;
  color: hotpink;
  cursor: pointer;
  transition: 0.2s;
}
.delete-daily:hover {
  background: #ffd6e8;
  transform: scale(1.1);
}
.Work_List {
  background: #d1d5f7;
  flex: 2;
  padding: 20px;
  min-height: 420px;
  border-radius: 20px;
  overflow-y: auto;
  box-shadow: 0 18px 45px rgba(1, 0, 19, 0.35);
}
.Work_List h3 {
  text-align: center;
  color: #250259;
  font-size: 30px;
}
.Content_1 {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: stretch;
}
.Bên_trái {
  order: 2;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.progress-box2 {
  margin-top: 40px;
  background: #c5c2f3;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  height: auto;
}
.circle-progress {
  width: 120px;
  height: 120px;
  margin: 15px auto 0;
  border-radius: 50%;
  background: conic-gradient(#250b62 10%, #eee 11%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #e9e7ef;
  transition: background 0.4s ease;
}
#workPercent {
  margin: 0;
}
